* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

.button-lite, .button-dark {
  border-radius: 3px;
  min-width: 227px;
  min-height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font: 600 16px/119% "Inter", sans-serif;
  color: #0F3D33;
  padding: 5px 10px;
}

.wrapper {
  width: 100%;
  min-height: 100%;
}

.button-dark {
  background-color: #50e3c2;
}

.button-lite {
  background-color: rgba(80, 227, 194, 0.14);
}

.header {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}
.header .header__body {
  min-height: 145px;
  max-width: 1190px;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
}
.header .header__menu .menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.header .header__menu .menu__list .menu__item {
  margin-left: 50px;
}
.header .header__menu .menu__list .menu__item a {
  font: 16px/150% "Inter", sans-serif;
  color: #DBE4F1;
}

.content-top {
  background: url("../img/top-content-bg.jpg") center center no-repeat;
}
.content-top .content-top__container {
  max-width: 1190px;
  padding: 185px 10px 20px 10px;
  height: 535px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.content-top .content-top__button {
  margin-bottom: 11px;
}

.feature .feature__container {
  max-width: 800px;
  margin: 0 auto;
  padding: 50px;
}
.feature .feature__item {
  margin-right: 10px;
}
.feature .feature__item:last-of-type {
  margin-right: 0;
}
.feature .feature__button-violet {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(166, 101, 251, 0.06);
}
.feature .feature__button-violet .feature__button-small {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #a665fb;
}