* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

.button-lite, .button-dark {
  border-radius: 3px;
  min-width: 227px;
  min-height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font: 600 16px/119% "Inter", sans-serif;
  color: #0F3D33;
  padding: 5px 10px;
}

.wrapper {
  width: 100%;
  min-height: 100%;
}

.button-dark {
  background-color: #50e3c2;
}

.button-lite {
  background-color: rgba(80, 227, 194, 0.14);
}

.header {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}

.header__body {
  min-height: 145px;
  max-width: 1190px;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
}
.header__body .header__menu .menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.header__body .header__menu .menu__list .menu__item {
  margin-left: 50px;
}
.header__body .header__menu .menu__list .menu__item a {
  font: 16px/150% "Inter", sans-serif;
  color: #DBE4F1;
}

.content-top {
  background: url("../img/top-content-bg.jpg") center center no-repeat;
}
.content-top .content-top__container {
  max-width: 1190px;
  padding: 185px 10px 20px 10px;
  min-height: 535px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.content-top .content-top__title {
  font: bold 46px/68px "Inter", sans-serif;
  color: #FFFFFF;
  margin-bottom: 5px;
}
.content-top .content-top__text {
  font: 20px/34px "Inter", sans-serif;
  color: #DBE4F1;
  margin-bottom: 27px;
  max-width: 560px;
  text-align: center;
}
.content-top .content-top__not-cart {
  font: 14px/28px "Inter", sans-serif;
  color: #DBE4F1;
}
.content-top .content-top__button {
  margin-bottom: 11px;
}

.feature .feature__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
  top: 146px;
  margin: 0 auto;
  max-width: 1103px;
  min-height: 555px;
}
.feature .block-vert-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid #E8E8EA;
  height: 115px;
  margin-top: 115px;
  padding: 0;
}
.feature .feature__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 29%;
  padding: 10px;
}
.feature .feature__item__title {
  font-family: "Inter", sans-serif;
  font-size: 22px;
  line-height: 154%;
  font-weight: bold;
  margin-top: 33px;
  margin-bottom: 24px;
}
.feature .feature__item__text {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  line-height: 188%;
  color: #323232;
  text-align: center;
}
.feature .feature__button-red {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(252, 92, 101, 0.06);
}
.feature .feature__button-red .feature__button-small {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fc5c65;
}
.feature .feature__button-blue {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(80, 227, 194, 0.06);
}
.feature .feature__button-blue .feature__button-small {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #50e3c2;
}
.feature .feature__button-violet {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(166, 101, 251, 0.06);
}
.feature .feature__button-violet .feature__button-small {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #a665fb;
}

.content__block1 {
  background-color: #F8FBFE;
}
.content__block1 .content__block1-container {
  margin: 0 auto;
  max-width: 1140px;
  min-height: 704px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.content__block1 .content__block1-container .content__block1__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  top: 110px;
  height: 487px;
  min-width: 487px;
}
.content__block1 .content__block1-container .analytics-img {
  background: #FFFFFF;
  -webkit-box-shadow: 0 22px 54px rgba(67, 87, 138, 0.29);
          box-shadow: 0 22px 54px rgba(67, 87, 138, 0.29);
  border-radius: 5px;
  width: 336px;
  height: 361px;
  position: absolute;
  top: 110px;
  left: 151px;
  z-index: 3;
}
.content__block1 .content__block1-container .transparent-layer {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(-26.82%, rgba(248, 251, 254, 0.0001)), color-stop(100%, #F8FBFE), to(#FFFFFF));
  background: linear-gradient(180deg, rgba(248, 251, 254, 0.0001) -26.82%, #F8FBFE 100%, #FFFFFF);
  width: 351px;
  height: 192px;
  position: absolute;
  top: 200px;
  z-index: 2;
}
.content__block1 .content__block1-container .deposit-img {
  background: #FFFFFF;
  border-radius: 5px;
  width: 279px;
  height: 368px;
  position: absolute;
  top: 3px;
  left: 15px;
  z-index: 1;
  -webkit-box-shadow: 0 6px 20px rgba(0, 0, 0, 0.103346);
          box-shadow: 0 6px 20px rgba(0, 0, 0, 0.103346);
}
.content__block1 .content__block1-container .content__block1-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  position: relative;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  top: 169px;
  left: 156px;
  width: 436px;
  min-height: 345px;
}
.content__block1 .content__block1-container .content__block1-content .content__block1__title {
  font-family: "Inter", sans-serif;
  font-size: 38px;
  line-height: 50px;
  font-weight: bold;
  margin-bottom: 14px;
}
.content__block1 .content__block1-container .content__block1-content .content__block1__text {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  line-height: 32px;
  color: #323232;
  margin-bottom: 29px;
}